@charset "utf-8";

/* common */
@import "include/mixins";
@import "include/variables";

/* base */
@import "base/base";

/* nav */
@import "components/nav";

/* page */
@import "layouts/pages";

.exhibition{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;

  #vr-exhibition{
    width: 100% !important;
    height: 100% !important;
    border: 0px;
  }
}