$color_white:#fff;
$color_black:#000;
$color_main:#0E2432;
$color_primary:#009eb4;
$color_secondary:#0063c3;
$btn_color1:#009eb4;
$btn_color2:#015aaa;

/* default btn */
%gradient_btn{
  display:inline-block;
  padding:12px 24px;
  background: $btn_color1;
  background: -moz-linear-gradient(left, $btn_color1 1%,$btn_color2 100%);
  background: -webkit-linear-gradient(left, $btn_color1 1%,$btn_color2 100%);
  background: linear-gradient(to right, $btn_color1 1%,$btn_color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn_color1', endColorstr='$btn_color2',GradientType=1 );
  border-radius: 52px;
  color: $color_white;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.3);
  font-size:0;
  vertical-align:middle;
  outline:0;
  
  >span {
    display:inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.9px;
    line-height:1.7;

    &.has_ico{
      position: relative;
      padding-right: 14px;

      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 7px;
        height: 12px;
        background: url(../img/arrow-right.png) no-repeat 0 50%;
        background-size: auto 12px;
        content: '';
      }
    }
  }
  
  @include media('tablet'){
    padding:6px 14px;
    
    >span{
      font-size:14px;
    }
  }
  @include media('tablet_land'){
    padding:6px 14px;

    >span{
      font-size:14px;
    }
  }
}

%fade_btn{
  display:inline-block;
  padding:12px 50px;
  font-size:20px;
  border-radius:0;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 50%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  box-shadow:none !important;
  font-size:0;
  vertical-align:middle;
  outline:0;
  
  >span {
    display:inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.9px;
    line-height:1.7;

    &.has_ico{
      position: relative;
      padding-right: 14px;

      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 7px;
        height: 12px;
        background: url(../img/arrow-right.png) no-repeat 0 50%;
        background-size: auto 12px;
        content: '';
      }
    }
  }
  
  @include media('tablet'){
    padding:6px 14px;
    
    >span{
      font-size:14px;
    }
  }
  @include media('tablet_land'){
    padding: 12px 24px;
    font-size: 1.5rem;
  }

  @include media('mobile'){
    width:70%;
    max-width:182px;
    padding: 10px 20px;
    font-size: 1.4rem;
  }
}

%search_btn{
  position:fixed;
  left:16px;
  bottom:20px;
  padding: 12px 24px;
  background: $color_black;
  border-radius: 52px;
  color: $color_white;
  -webkit-box-shadow: 0 1px 10px 0 rgba(255,255,255,.3);
  box-shadow: 0 1px 10px 0 rgba(255,255,255,.3);
  outline:0;
  
  >span {
    position: relative;
    padding-left: 28px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.9px;
    line-height: 1.5;
    
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 19px;
      height: 19px;
      background: url(../img/ico_gnb_search.png) no-repeat 50% 50%;
      background-size: auto 19px;
      content: '';
    }
  }
  @include media('land'){
    padding:7px 14px;

    >span{
      padding-left:20px;
      font-size:14px;

      &:before{
        width:14px;
        height:14px;
        background-size:auto 14px;
      }
    }
  }

  @media screen and (max-width:1600px){
    padding:6px 14px;
    
    >span{
      padding-left:20px;
      font-size:14px;

      &:before{
        width:14px;
        height:14px;
        background-size:auto 14px;
      }
    }
  }
  @include media('tablet_land'){
    padding:6px 14px;

    >span{
      padding-left:20px;
      font-size:14px;
      
      &:before{
        width:14px;
        height:14px;
        background-size:auto 14px;
      }
    }
  }
  @include media('mobile'){
    left:10px;
    bottom:10px;
  }
}